/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  position: relative;
  //min-height: 100vh;
}

/*Scroll bar costumization*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue grey;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: grey;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid grey;
  }
